
.element__trash {
  width: 19px;
  height: 18px;
  background-color: transparent;
  background-image: url(../../../images/svg/trash.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__trash:hover {
  transition: 0.3s ease;
  opacity: 0.5;
}
